@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.body-color {
  background-color: #0bbbef;
}

svg {
  fill: currentColor;
  vertical-align: bottom;
}

body {
  font-family: "Poppins";
}
.react-datepicker {
  background-color: transparent !important;
  border: none !important;
}
.react-datepicker__header {
  background-color: transparent !important;
  border: none !important;
}
